@import '../../../scss/variables';
@import '../../../scss/mixins';

.wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.media {
  margin-top: auto;
}

.cardList {
  display: flex;
  flex-flow: column;
  gap: $space-8;

  @include md {
    display: grid;
    grid-template-columns: Repeat(2, 1fr);
  }

  @include lg {
    grid-template-columns: Repeat(3, 1fr);
  }
}

.title {
  text-align: center;
  padding: 0 $space-4;
}
