@import '../../../scss/variables';

.wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.cardList {
  display: flex;
  flex-flow: column;
  gap: $space-8;
}

.title {
  text-align: center;
}
