@import '../../../scss/variables';

.y1 {
  height: $space-1;
}

.y2 {
  height: $space-2;
}

.y3 {
  height: $space-3;
}

.y4 {
  height: $space-4;
}

.y5 {
  height: $space-5;
}

.y6 {
  height: $space-6;
}

.y7 {
  height: $space-7;
}

.y8 {
  height: $space-8;
}
